*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: rgb(11, 71, 43);
    position: fixed;
    width: 100%;
    /* font-size: 36px; */
    color: white;
    padding: 20px;
    top: 0;
}

.coloms{
    background-color: green;
    margin-top: 85px;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat( 5, minmax(300px, 400px) );
}

.coloms-item{
    background-color: rgb(110, 110, 110);
    padding: 20px;
    
    margin-left: 30px;
    border-radius: 5px;
}

.icons-conteiner{
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: azure;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.icons{
    display: flex;
}

.icons img{
    width: 18px;
    margin-right: 5px;
}

.icons div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

h2{
    margin-bottom: 15px;
}

