*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: rgb(14, 133, 133);
    position: fixed;
    width: 100%;
    /* font-size: 36px; */
    color: white;
    padding: 20px;
    top: 0;
}

.coloms{
    background-color: rgb(27, 148, 148);
    margin-top: 85px;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat( 5, minmax(300px, 400px) );
    grid-column-gap: 15px;
    overflow-x: auto;
    height: calc(100vh - 85px);
}

.coloms-item{
    background-color: rgb(146, 145, 145);
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
}

.icons-conteiner{
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: azure;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.icons{
    display: flex;
}

.icons img{
    width: 18px;
    margin-right: 5px;
}

.icons div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

h2{
    margin-bottom: 15px;
}

